EshtryFrontend/Connected Services/SearchService/Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Search" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63131/Search.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63131/Search.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63131/Search.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearch_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISearch_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_Recomendations_InputMessage">
    <wsdl:part name="parameters" element="tns:Recomendations" />
  </wsdl:message>
  <wsdl:message name="ISearch_Recomendations_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecomendationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchByItemName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByItemName" />
  </wsdl:message>
  <wsdl:message name="ISearch_SearchByItemName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByItemNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_FilterItemsInCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterItemsInCategory" />
  </wsdl:message>
  <wsdl:message name="ISearch_FilterItemsInCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterItemsInCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISearch_getCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategories" />
  </wsdl:message>
  <wsdl:message name="ISearch_getCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearch">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/DoWork" message="tns:ISearch_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/DoWorkResponse" message="tns:ISearch_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recomendations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/Recomendations" message="tns:ISearch_Recomendations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/RecomendationsResponse" message="tns:ISearch_Recomendations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByItemName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/SearchByItemName" message="tns:ISearch_SearchByItemName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/SearchByItemNameResponse" message="tns:ISearch_SearchByItemName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterItemsInCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/FilterItemsInCategory" message="tns:ISearch_FilterItemsInCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/FilterItemsInCategoryResponse" message="tns:ISearch_FilterItemsInCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearch/getCategories" message="tns:ISearch_getCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearch/getCategoriesResponse" message="tns:ISearch_getCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearch" type="tns:ISearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISearch/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recomendations">
      <soap:operation soapAction="http://tempuri.org/ISearch/Recomendations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByItemName">
      <soap:operation soapAction="http://tempuri.org/ISearch/SearchByItemName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterItemsInCategory">
      <soap:operation soapAction="http://tempuri.org/ISearch/FilterItemsInCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <soap:operation soapAction="http://tempuri.org/ISearch/getCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Search">
    <wsdl:port name="BasicHttpBinding_ISearch" binding="tns:BasicHttpBinding_ISearch">
      <soap:address location="http://localhost:63131/Search.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>