EshtryFrontend/Connected Services/AdminCRUD/AdminCRUD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63131/AdminCRUD.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CatTittle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tittle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getItemResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tittle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
        <xs:element minOccurs="0" name="seller" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>