EshtryFrontend/Connected Services/AdminCRUD/AdminCRUD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminCRUD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63131/AdminCRUD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63131/AdminCRUD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63131/AdminCRUD.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminCRUD_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_getItem_InputMessage">
    <wsdl:part name="parameters" element="tns:getItem" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_getItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_EditItem_InputMessage">
    <wsdl:part name="parameters" element="tns:EditItem" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_EditItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IAdminCRUD_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminCRUD">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/DoWork" message="tns:IAdminCRUD_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/DoWorkResponse" message="tns:IAdminCRUD_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/AddCategory" message="tns:IAdminCRUD_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/AddCategoryResponse" message="tns:IAdminCRUD_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/AddItem" message="tns:IAdminCRUD_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/AddItemResponse" message="tns:IAdminCRUD_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/getItem" message="tns:IAdminCRUD_getItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/getItemResponse" message="tns:IAdminCRUD_getItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/EditItem" message="tns:IAdminCRUD_EditItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/EditItemResponse" message="tns:IAdminCRUD_EditItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminCRUD/DeleteItem" message="tns:IAdminCRUD_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminCRUD/DeleteItemResponse" message="tns:IAdminCRUD_DeleteItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminCRUD" type="tns:IAdminCRUD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItem">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/getItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/EditItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IAdminCRUD/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminCRUD">
    <wsdl:port name="BasicHttpBinding_IAdminCRUD" binding="tns:BasicHttpBinding_IAdminCRUD">
      <soap:address location="http://localhost:63131/AdminCRUD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>